<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>EC's Restaurant Menu</title>
    <!-- Bootstrap CSS -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom CSS-->
    <link href="style/style.css" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">EC's Brick Oven & Grill</a>
            </div>
        </div><!-- /.container -->
    </div><!-- /.navbar -->

    <hr />
    <hr />
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-3 column">
                <a href="#">
                    <img src="https://raw.githubusercontent.com/ericcarraway/ECsRestaurantMenu/master/_img/ECs-logo.png"
                         id="logo"
                         alt="restaurant logo">
                </a>
                <div class="list-group">
                    <a href="//ericcarraway.com/" target="_blank" class="list-group-item">
                        <i class="fa fa-user"></i> &nbsp; Eric Carraway
                    </a>
                    <a href="//www.linkedin.com/in/ericcarraway" target="_blank" class="list-group-item">
                        <i class="fa fa-linkedin-square"></i> &nbsp; LinkedIn
                    </a>
                    <a href="//github.com/ericcarraway/" target="_blank" class="list-group-item">
                        <i class="fa fa-github-square"></i> &nbsp; GitHub
                    </a>
                </div>
                <div id="project-info">
                    <strong>EC's Restaurant Menu</strong>
                    <p>This is an example project built to demonstrate the following skills to potential employers:</p><br />
                    <p>Front End</p>
                    <ul>
                        <li>Backbone.js - MV* pattern, Models, Collections, Views, Events, Templating, Routing, CRUD operations</li>
                        <li>jQuery, Underscore.js, AJAX requests to a back-end API</li>
                        <li>HTML, CSS, Twitter Bootstrap</li>
                    </ul>
                    <p>Back End</p>
                    <ul>
                        <li>ASP.NET Web API RESTful service</li>
                        <li>Entity Framework ORM</li>
                        <li>Database: MS SQL</li>
                    </ul>
                    <p>Source Control</p>
                    <ul>
                        <li>Git</li>
                        <li>GitHub</li>
                    </ul>
                    Additional
                    <ul>
                        <li>Visual Studio</li>
                        <li>SQL Server Management Studio</li>
                        <li>Chrome Developer Tools</li>
                        <li>Chrome Postman (testing & API workflow)</li>
                        <li>App Harbor: .NET Cloud Platform</li>
                        <li>FTP + Web Hosting (images at ericcarraway.com)</li>
                        <li>Image Editing (including personalization of logo) via GIMP</li>
                    </ul>
                </div>
            </div>
            <!-- TODO: responsiveness / prevent scroll in mobile view, reset to top of list/edit view -->

            <div class="col-md-9 column">
                <hr />
                <div class="page">
                    <!-- Backbone views inject here; views in script tags below -->
                    <!-- something temporary to look at while the Db connects -->
                    <h1><em>Welcome to EC's</em></h1>
                    <h5><em>Where it may take up to 90 seconds to connect to the database...</em></h5>
                    <img src="https://raw.githubusercontent.com/ericcarraway/ECsRestaurantMenu/master/_img/counter-view.jpg"
                         id="counter-image"
                         alt="restaurant counter">
                </div>
            </div>

        </div>
    </div>

    <!-- data-binding templates inline placed on the HTML page for ease of maintenance and syntax highlighting in the editor -->
    <!-- defining the type as "text/template" keeps them from being interpreted by the browser as JavaScript -->

    <!-- Item List View -->
    <script type="text/template" id="items-list-template">
        <a href="#/new" class="btn btn-success btn-lg">
            <i class="fa fa-pencil-square-o"></i>&nbsp; Create New Menu Item
        </a>
        <hr />
        <% _.each(items, function(item) { %>
            <div class="col-3 col-sm-3 col-lg-3 col-xs-4" id="menu-items">
                <h4><%= htmlEncode(item.get('Name')) %></h4>
                <img class="food " src="<%= htmlEncode(item.get('PicUrl')) %>" />
                <h3><%= htmlEncode(item.get('Price')) %>
                    <a class="btn btn-info pull-right" href="#/edit/<%= htmlEncode(item.get('Id')) %>">Edit</a>
                </h3>
            </div>
        <% }); %>
    </script><!-- /Item List View -->

    <!-- Edit View -->
    <script type="text/template" id="edit-item-template">
        <div class="col-md-6 column">
            <form class="edit-item-form">
                <h2><%= item ? 'Edit' : 'New' %> Menu Item</h2>
                <hr />
                <h4>Name</h4>
                <input name="Name" type="text" value="<%= item ? item.get('Name') : '' %>" />
                <h4>Price</h4>
                <input name="Price" type="text" value="<%= item ? item.get('Price') : '' %>" />
                <h4>Picture URL</h4>
                <input name="PicUrl" type="text" value="<%= item ? item.get('PicUrl') : '' %>" />
                <hr />
                <button type="submit" class="btn btn-success"><%= item ? 'Update Item' : 'Create New Item' %>
                    <i class="fa fa-floppy-o"></i>
                </button>

                <!-- If this is an update, carry the id in a hidden field, and render a delete button -->
                <% if (item) { %>
                    <input type="hidden" name="id" value="<%= item.get('Id') %>" />
                    <!-- TODO: perhaps fix C# PascalCasing in back-end schema to match JavaScript camelCasing convention -->
                    <button data-item-id="<%= item.Id %>" class="btn btn-danger delete">
                        Delete <i class="fa fa-trash"></i>
                    </button>
                <% }; %>
            </form>
        </div>
        <div class="col-md-6 column">
            <% if (item) { %>
                <img id="edit-image" src="<%= htmlEncode(item.get('PicUrl')) %>" />
            <% }; %>
        </div>
        <hr />
        <h4>Need pictures?</h4>
        <a href="//ericcarraway.com/EZ's/" target="_blank">http://ericcarraway.com/EZ's/</a>
        <p><em>Feel free to delete seeded menu items, but please put some back before you leave!</em></p>
    </script><!-- /Edit View -->

    <!-- dependencies -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>

    <!-- app scripts -->
    <script src="scripts/models.js"></script>
    <script src="scripts/views.js"></script>
    <script src="scripts/routes-config.js"></script>
</body>
</html>
